#root {
  height: 100vh;
}

#drum-machine {
  margin: auto;
  width: 70%;
}

#drums {
  width: 70%;
}

#controls {
  width: 30%;
}

.divider {
  margin-top: 10%;
}

.drum-pad {
  height: 10vh;
  width: 10vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3rem;
  font-weight: bold;
}

.drum-pad:hover {
  cursor: pointer;
}

.toggled {
  background-color: green;
}